<!-- <h2>Welcome, <%= @user.username %> </h2><br>

<a href="/tweets/new"> Create Tweet </a><br>

<h4>Your Tweets:</h4>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %> -->


<p> Welcome, <%= current_user.username %>
<h2> Tweets </h2>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %>
<!--
<h1>Tweets</h1>
<h3>Welcome, <%=@user.username%> </h3>
<% Tweet.all.each do |tweet| %>
  <a href="/tweets/<%=tweet.id%>"> <%= tweet.content %> </a>
  <br></br>
<% end %>
<a href = "/tweets/new" >Write a new tweet</a> -->
